<%- include("header") -%>
<h2>Welcome to the about page</h2>
<p>Lots and Lots of Text Lots and Lots of Text Lots and Lots of Text Lots and Lots of Text Lots and Lots of Text</p>
<%- include("footer") -%>